.body,html{
	background-image:url(f5e0d56564e15791d05482fb96cf3e47.jpg);	
	width:100%;
	height:100%;
	background-size:cover;
	background-position:center;
}
.text{
	font-size:60px;
	color:#FFF;
	text-align:center;
	width:100%;
	padding:100px 0;
	font-family:Patron - PersonalUse;
}
a.underline-hover-effect {
  text-decoration: none;
  color: inherit;
  
  font-size:40px;
}
.underline-hover-effect {
  display: inline-block;
  padding-bottom: 0.25rem;
  position: relative;
}
.underline-hover-effect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  background-color:red;
  transition: width 0.5s ease-out;
}
.underline-hover-effect:hover::before {
  width: 100%;
}
.table{
	font-size:16px;}

